*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/backend/.env
venv
.idea
./backend/database
./backend/excel_files
./backend/reports
./android/build
local
./backend/.pytest_cache
./backend/__pycache__
./android/gradlew*
./android/app/build
backend/__pycache__/
backend/*.pyc
backend/app/build/
backend/database
backend/excel_files
backend/reports
android/build/reports/problems
android/gradle
android/app/build
